@import "tailwindcss";

@theme {
  --color-primary: #009CEB;
  --color-secondary: #F3AA1D;
  --color-accent: #E63946;
  --color-text-main: #1E293B;
  --color-bg-soft: #F8F9FA;
}

:root {
  --background: #ffffff;
  --foreground: #1E293B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}

