@import "tailwindcss";

@theme {
  --color-primary: #009CEB;
  --color-secondary: #F3AA1D;
  --color-accent: #E63946;
  --color-text-main: #1E293B;
  --color-bg-soft: #F8F9FA;
  
  --animate-blob: blob 7s infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }
}

:root {
  --background: #ffffff;
  --foreground: #1E293B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}

